name: Rollback

on:
  workflow_call:
    inputs: 
      appName:
        required: true
        type: string
    secrets:
      STRUXHUB_GPR_TOKEN:
        required: true

jobs:
  rollback:
    uses: struxhub/github_actions/.github/workflows/rollback.yml@main
    with:
      appName: ${{ inputs.appName }}
    secrets:
      STRUXHUB_GPR_TOKEN: ${{ secrets.STRUXHUB_GPR_TOKEN }}