name: Preview

on:
  workflow_call:
    inputs: 
      appName:
        required: true
        type: string
      domain:
        required: true
        type: string
      clusterName:
        required: true
        type: string
      projectName:
        required: true
        type: string
      namespace:
        required: false
        type: string
        default: 'dev'
      environment:
        required: false
        type: string
        default: 'dev'
      postmanCollectionFile:
        required: false
        type: string
        default: ''
      postmanEnvironmentFile:
        required: false
        type: string
        default: ''
    secrets:
      STRUXHUB_GPR_USER:
        required: true
      STRUXHUB_GPR_TOKEN:
        required: true

jobs:
  deploy:
    name: Deploy the Preview Environment
    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Fetch repository history
        run: |
          git fetch

      - name: Set Variables for this Workflow
        id: vars
        run: |
          export PREVIEW_ENV=pr-$(echo ${GITHUB_HEAD_REF##*/} | sed "s/[^[:alpha:][:digit:]]/-/g" | tr '[:upper:]' '[:lower:]')
          export PREVIEW_ENV=${PREVIEW_ENV:0:30}
          echo "::set-output name=version::$( pwsh ./.github/version-tool.ps1 next-dev-version )"
          echo "::set-output name=app::${{inputs.appName}}"
          echo "::set-output name=namespace::${{inputs.namespace}}"
          echo "::set-output name=environment::${{inputs.environment}}"
          echo "::set-output name=unique_id::pr-${{ github.event.pull_request.number }}"
          echo "::set-output name=commit_id::${GITHUB_SHA:0:8}"
          echo "::set-output name=preview_env::$PREVIEW_ENV"
          echo "::set-output name=target_url::https://$PREVIEW_ENV.${{inputs.domain}}"

      - name: Create GitHub deployment
        uses: simpleactions/create-deployment@v1.0.0
        id: deployment
        with:
          github_token: ${{ secrets.STRUXHUB_GPR_TOKEN }}
          environment: ${{ steps.vars.outputs.preview_env }}
          ref: ${{ github.head_ref }}
          transient_environment: true

      - name: Update deployment status (pending)
        uses: simpleactions/create-deployment-status@v1.0.0
        with:
          github_token: ${{secrets.STRUXHUB_GPR_TOKEN}}
          deployment_id: ${{ steps.deployment.outputs.deployment_id }}
          state: pending
          log_url: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v0'
        with:
          workload_identity_provider: 'projects/792156332528/locations/global/workloadIdentityPools/struxhub-identity-pool/providers/struxhub-identity-provider'
          service_account: 'github@struxhub-app.iam.gserviceaccount.com'

      - name: Configure Docker to use Google Cloud Platform
        run: |
          gcloud auth configure-docker --quiet

      - id: 'get-credentials'
        name: 'Get GKE credentials'
        uses: 'google-github-actions/get-gke-credentials@v0'
        with:
          cluster_name: ${{inputs.clusterName}}
          location: 'us-central1-a'
          project_id: ${{inputs.projectName}}

      - name: Configure Kubernetes
        run: |
          kubectl config set-context --current --namespace=${{ steps.vars.outputs.namespace }}

      - name: Build Docker image
        run: |
          docker build --build-arg STRUXHUB_GPR_USER=${{secrets.STRUXHUB_GPR_USER}} --build-arg STRUXHUB_GPR_TOKEN=${{secrets.STRUXHUB_GPR_TOKEN}} --build-arg VERSION=${{ steps.vars.outputs.version }} --build-arg ENVIRONMENT=${{inputs.environment}} --tag gcr.io/${{inputs.projectName}}/${{ steps.vars.outputs.app }}:${{ steps.vars.outputs.commit_id }} .

      - name: Push image to Google Cloud Container Registry
        run: |
          docker push gcr.io/${{inputs.projectName}}/${{ steps.vars.outputs.app }}:${{ steps.vars.outputs.commit_id }}
          docker tag gcr.io/${{inputs.projectName}}/${{ steps.vars.outputs.app }}:${{ steps.vars.outputs.commit_id }} gcr.io/${{inputs.projectName}}/${{ steps.vars.outputs.app }}:${{ steps.vars.outputs.unique_id }}
          docker push gcr.io/${{inputs.projectName}}/${{ steps.vars.outputs.app }}:${{ steps.vars.outputs.unique_id }}

      - name: Deploy Preview App
        run: |
          sed 's/PREVIEW_ENV/${{ steps.vars.outputs.preview_env }}/g;s/COMMIT_ID/${{ steps.vars.outputs.commit_id }}/g' deploy/preview-app-template.yaml | kubectl apply -f -

      - name: Comment with success message
        if: success()
        uses: simpleactions/create-issue-comment@v1.0.0
        with:
          github_token: ${{secrets.STRUXHUB_GPR_TOKEN}}
          body: |
            A [preview environment](${{ steps.vars.outputs.target_url }}) created and will be removed when this PR closes!
            Before merging, pay attention to these tasks as they are required to be done.
            - [ ] In case you are developing a new endpoint, did you update Postman?
            - [ ] Did you write meaningful unit tests?

      - name: Update deployment status (success)
        if: success()
        uses: simpleactions/create-deployment-status@v1.0.0
        with:
          github_token: ${{secrets.STRUXHUB_GPR_TOKEN}}
          deployment_id: ${{ steps.deployment.outputs.deployment_id }}
          state: success
          log_url: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
          environment_url: ${{ steps.vars.outputs.target_url }}

      - name: Update deployment status (failure)
        if: failure()
        uses: simpleactions/create-deployment-status@v1.0.0
        with:
          github_token: ${{secrets.STRUXHUB_GPR_TOKEN}}
          deployment_id: ${{ steps.deployment.outputs.deployment_id }}
          state: failure
          log_url: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
  E2ETests:
    name: Run Postman Endpoints Against Preview Environment
    needs: deploy
    if: github.event.action != 'closed' && contains(github.event.pull_request.labels.*.name, 'DeployPreviewEnv')
    runs-on: ubuntu-latest
    
    permissions:
      contents: 'read'
      id-token: 'write'
      
    steps:
      - name: Set Variables for this Workflow
        id: vars
        run: |
          export PREVIEW_ENV=pr-$(echo ${GITHUB_HEAD_REF##*/} | sed "s/[^[:alpha:][:digit:]]/-/g" | tr '[:upper:]' '[:lower:]')
          echo "::set-output name=target_url::https://$PREVIEW_ENV.${{inputs.domain}}"
          
      - name: Install Node # newman
        if: ${{ inputs.postmanCollectionFile != '' }}
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'

      - name: Install newman # newman
        if: ${{ inputs.postmanCollectionFile != '' }}
        run: | 
          npm install -g newman@^5.1.2
          npm install -g newman-reporter-htmlextra

      - name: Set current date as env variable # newman
        id: date
        if: ${{ inputs.postmanCollectionFile != '' }}
        run: echo "::set-output name=NOW::$(date +'%Y%m%dH%M%S')"

      - name: Checkout the repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Run POSTMAN collection (see Summary for output) # newman
        id: run-newman
        shell: bash
        if: ${{ inputs.postmanCollectionFile != '' }}
        run: |
          mkdir testResults
          newman run ./postman/${{inputs.postmanCollectionFile}} -e ./postman/${{inputs.postmanEnvironmentFile}} --global-var "baseUrl=${{ steps.vars.outputs.target_url }}" -r htmlextra --reporter-htmlextra-export ./testResults/htmlreport${{ steps.date.outputs.NOW }}.html --reporter-htmlextra-darkTheme > ./testResults/postmanReport${{ steps.date.outputs.NOW }}.html
          
      - id: 'auth'
        if: ${{always() && inputs.postmanCollectionFile != '' }}
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v0'
        with:
          workload_identity_provider: 'projects/792156332528/locations/global/workloadIdentityPools/struxhub-identity-pool/providers/struxhub-identity-provider'
          service_account: 'github@struxhub-app.iam.gserviceaccount.com'

      - name: Save postman test results to GCP Cloud Storage
        if: ${{always() && inputs.postmanCollectionFile != '' }}
        id: upload-files
        uses: google-github-actions/upload-cloud-storage@v0.4.0
        with:
          path: testResults
          destination: postman-test-results

      - name: Print test results uploaded
        if: ${{always() && inputs.postmanCollectionFile != '' }}
        uses: simpleactions/create-issue-comment@v1.0.0
        with:
          github_token: ${{secrets.STRUXHUB_GPR_TOKEN}}
          body: |
            Test results are [here](https://console.cloud.google.com/storage/browser/postman-test-results/testResults;tab=objects?project=struxhub-app&prefix=&forceOnObjectsSortingFiltering=true).
            Files: ${{steps.upload-files.outputs.uploaded}}