name: Rollback

on:
  workflow_call:
    inputs: 
      appName:
        required: true
        type: string
      domain:
        required: true
        type: string
      postmanCollectionFile:
        required: false
        type: string
        default: ''
      postmanEnvironmentFile:
        required: false
        type: string
        default: ''
    secrets:
      STRUXHUB_GPR_TOKEN:
        required: true

  E2ETests:
    name: E2ETests
    needs: deploy
    if: github.event.pull_request.merged
    runs-on: ubuntu-latest
    steps:
      - name: Set Variables for this Workflow
        id: vars
        run: |
          echo "::set-output name=target_url::https://${{inputs.domain}}"
          
      - name: Install Node # newman
        if: ${{ inputs.postmanCollectionFile != '' }}
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'

      - name: Install newman # newman
        if: ${{ inputs.postmanCollectionFile != '' }}
        run: | 
          npm install -g newman@^5.1.2
          npm install -g newman-reporter-htmlextra

      - name: Set filename as env variable # newman
        id: date
        if: ${{ inputs.postmanCollectionFile != '' }}
        run: echo "::set-output name=postmanReportFileName::E2ETests-PR-${{ github.event.pull_request.number }}-$(date +'%Y%m%dH%M%S').html"

      - name: Checkout the repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Run POSTMAN collection (see Summary for output) # newman
        id: run-newman
        shell: bash
        if: ${{ inputs.postmanCollectionFile != '' }}
        run: |
          newman run ./postman/${{inputs.postmanCollectionFile}} \
            -e ./postman/${{inputs.postmanEnvironmentFile}} \
            --global-var "baseUrl=${{ steps.vars.outputs.target_url }}" \
            -r htmlextra --reporter-htmlextra-export ./${{ steps.date.outputs.postmanReportFileName }}
          
      - id: 'auth'
        if: ${{always() && inputs.postmanCollectionFile != '' }}
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v0'
        with:
          workload_identity_provider: 'projects/792156332528/locations/global/workloadIdentityPools/struxhub-identity-pool/providers/struxhub-identity-provider'
          service_account: 'github@struxhub-app.iam.gserviceaccount.com'
      
      #files are deleted from Cloud Storage after '10 days' they are uploaded
      - name: Save postman test results to GCP Cloud Storage
        if: ${{always() && inputs.postmanCollectionFile != '' }}
        id: upload-files
        uses: google-github-actions/upload-cloud-storage@v0.4.0
        with:
          path: ./${{ steps.date.outputs.postmanReportFileName }}
          destination: postman-test-results
     
      - name: Print test results uploaded
        if: ${{always() && inputs.postmanCollectionFile != '' }}
        uses: simpleactions/create-issue-comment@v1.0.0
        with:
          github_token: ${{secrets.STRUXHUB_GPR_TOKEN}}
          body: |
            Postman Test results are [here](https://storage.cloud.google.com/postman-test-results/${{ steps.date.outputs.postmanReportFileName }}).
            File: ${{ steps.date.outputs.postmanReportFileName }}