name: Remove a Preview Environment

on:
  workflow_call:
    inputs: 
      appName:
        required: true
        type: string
      domain:
        required: true
        type: string
      clusterName:
        required: true
        type: string
      projectName:
        required: true
        type: string
      namespace:
        required: false
        type: string
        default: 'dev'
      environment:
        required: false
        type: string
        default: 'dev'
    secrets:
      STRUXHUB_GPR_USER:
        required: true
      STRUXHUB_GPR_TOKEN:
        required: true

jobs:
  cleanup:
    name: Remove the Preview Environment
    if: github.event.action == 'closed' && contains(github.event.pull_request.labels.*.name, 'DeployPreviewEnv')
    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write'
      
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set Variables for this Workflow
        id: vars
        run: |
          export PREVIEW_ENV=pr-$(echo ${GITHUB_HEAD_REF##*/} | sed "s/[^[:alpha:][:digit:]]/-/g" | tr '[:upper:]' '[:lower:]')
          export PREVIEW_ENV=${PREVIEW_ENV:0:30}
          echo "::set-output name=app::${{inputs.appName}}"
          echo "::set-output name=namespace::${{inputs.namespace}}"
          echo "::set-output name=environment::${{inputs.environment}}"
          echo "::set-output name=unique_id::pr-${{ github.event.pull_request.number }}"
          echo "::set-output name=preview_env::$PREVIEW_ENV"
          echo "::set-output name=target_url::https://$PREVIEW_ENV.${{inputs.domain}}"

      - name: Get Last GitHub deployment
        uses: simpleactions/get-last-deployment@v1.0.0
        id: last_deployment
        with:
          github_token: ${{secrets.STRUXHUB_GPR_TOKEN}}
          environment: ${{ steps.vars.outputs.preview_env }}

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v0'
        with:
          workload_identity_provider: 'projects/792156332528/locations/global/workloadIdentityPools/struxhub-identity-pool/providers/struxhub-identity-provider'
          service_account: 'github@struxhub-app.iam.gserviceaccount.com'

      - id: 'get-credentials'
        name: 'Get GKE credentials'
        uses: 'google-github-actions/get-gke-credentials@v0'
        with:
          cluster_name: ${{inputs.clusterName}}
          location: 'us-central1-a'
          project_id: ${{inputs.projectName}}

      - name: Configure Kubernetes
        run: |
          kubectl config set-context --current --namespace=${{ steps.vars.outputs.namespace }}

      - name: Remove Preview Environment
        run: |
          sed 's/PREVIEW_ENV/${{ steps.vars.outputs.preview_env }}/g;s/COMMIT_ID/${{ steps.vars.outputs.unique_id }}/g' deploy/preview-app-template.yaml | kubectl delete -f -

      - name: Update deployment status (inactive)
        uses: simpleactions/create-deployment-status@v1.0.0
        with:
          github_token: ${{secrets.STRUXHUB_GPR_TOKEN}}
          deployment_id: ${{ steps.last_deployment.outputs.deployment_id }}
          state: inactive
